/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 70px;
}

/* Main content styles */
.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-info {
  width: 20%;
  padding: 1rem;
  /* border: 1px solid #444; */
}
.blog-list {
  width: 78%;
  padding: 1rem;
  /* border: 1px solid #444; */
}

.user-info h2,
.blog-list h2 {
  font-size: 1.5rem;
  /* margin-bottom: 1rem; */
}

.blog-list a {
 text-decoration: none;
}
#create-blog-form {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#create-blog-form input,
label,
button,
textarea {
  display: block;
  width: 100%;
  margin-top: 7px;
  padding: 5px;
  outline: none;
  border: 1px solid #444;
}

#create-blog-form button {
  background-color: rgb(240, 78, 111);
  color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

#create-blog-form2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#create-blog-form2 input,
button,
textarea {
  display: block;
  width: 100%;
  margin-top: 7px;
  padding: 5px;
  outline: none;
  /* border: 1px solid #444; */
}
textarea {
  width: 100%;
}

#create-blog-form2 button {
  background-color: rgb(240, 78, 111);
  color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

/* Extra Small Devices (phones, up to 576px) */
@media (max-width: 576px) {
  header {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 50px;
    font-size: 8px;
  }
  .main {
    width: 100%;
  }
  .profile-section {
    display: block;
    width: 100%;
  }
  .user-info {
    width: 100%;
    padding: 0px;
  }
  .blog-list {
    width: 100%;
  }
}

/* Small Devices (landscape phones, 577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  header {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 50px;
    font-size: 8px;
  }
  .main {
    width: 100%;
  }
  .profile-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  .user-info {
    width: 50%;
    padding: 0px;
  }
  .blog-list {
    width: 100%;
    padding: 0 10px 0 10px;
  }
}

/* Medium Devices (tablets, 769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {
   header {
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 70px;
    font-size: 12px;
  }
  .main {
    width: 100%;
  }
  .profile-section {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }
  .user-info {
    width: 35%;
    padding: 0px;
  }
  .blog-list {
    width: 100%;
    padding: 0 10px 0 10px;
  }
}



